@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?5qyaph');
  src:  url('/fonts/icomoon.eot?5qyaph#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?5qyaph') format('truetype'),
    url('/fonts/icomoon.woff?5qyaph') format('woff'),
    url('/fonts/icomoon.svg?5qyaph#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-instagram:before {
  content: "\e902";
}
.icon-ic-youtube:before {
  content: "\e904";
}
.icon-ic_arrow:before {
  content: "\e900";
}
.icon-ic_checkmark:before {
  content: "\e905";
  color: #fff;
}
.icon-ic_facebook:before {
  content: "\e901";
}
.icon-ic_twitter:before {
  content: "\e903";
}
